**/*.crt
**/github-raw-install.txt
**/github-raw-installs.txt
**/github-release-install.txt
**/winget-install.txt
**/winget-installs.txt
**/winget-uninstalls.txt
**/certificate-refresh_FORCE_renameMe-OFF.txt
**/certificate-refresh_renameMe-ON.txt
**/certificate-refresh_FORCE_LIST.txt
**/certificate-present-list*
**/cert-revoked*
**/enforce-issues.txt
**/last_run_enforce-checker.txt
**/last_run.txt
**/last_run-jumpstart.txt
**/test.bat
